# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL="https://lbqqyxztxtubbfwngbab.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxicXF5eHp0eHR1YmJmd25nYmFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyMjgyNzQsImV4cCI6MjEwMjgwNDI3NH0.i9yZaXzX0ue-6x6m3ONlNs-7KdxQ9PVLzWbvaTWYj6M"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxicXF5eHp0eHR1YmJmd25nYmFiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NzIyODI3NCwiZXhwIjoyMTAyODA0Mjc0fQ.oQl6iOrdOGkwCz0CtlnOAEweJrQIQfLRsXZ8XSZIuL4"
